<mat-table *ngIf="psychologists$ | async as psychologists" [dataSource]="psychologists" class="mat-elevation-z8">
  <ng-container matColumnDef="id"><mat-header-cell *matHeaderCellDef>ID</mat-header-cell><mat-cell *matCellDef="let item">{{ item.id }}</mat-cell></ng-container>
  <ng-container matColumnDef="ativo"><mat-header-cell *matHeaderCellDef>Status</mat-header-cell><mat-cell *matCellDef="let item">{{ item.ativo ? 'Ativo' : 'Inativo' }}</mat-cell></ng-container>
  <ng-container matColumnDef="nome"><mat-header-cell *matHeaderCellDef>Nome</mat-header-cell><mat-cell *matCellDef="let item">{{ item.nome }}</mat-cell></ng-container>
  <ng-container matColumnDef="crp"><mat-header-cell *matHeaderCellDef>CRP</mat-header-cell><mat-cell *matCellDef="let item">{{ item.crp }}</mat-cell></ng-container>
  <ng-container matColumnDef="especialidade"><mat-header-cell *matHeaderCellDef>Especialidade</mat-header-cell><mat-cell *matCellDef="let item">{{ item.especialidade }}</mat-cell></ng-container>
  <ng-container matColumnDef="email"><mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell><mat-cell *matCellDef="let item">{{ item.contato?.email }}</mat-cell></ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef><button mat-icon-button (click)="onAdd()" aria-label="Cadastrar psicólogo" matTooltip="Cadastrar novo psicólogo"><mat-icon>add</mat-icon></button></mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button mat-icon-button (click)="onEdit(item)" aria-label="Editar psicólogo"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="onDeactivate(item)" [disabled]="!item.ativo" aria-label="Inativar psicólogo"><mat-icon>delete</mat-icon></button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
