.app-header {
  .spacer {
    flex: 1 1 auto;
    padding-left: 16px;
  }
  .mat-toolbar {
    background: linear-gradient(to bottom, #0959a4, #87ceeb, #0084ff, #0959a4);
    color: white;
    padding: 0 96px;
    height: 58px;
  }
}

@media (max-width: 599px) {
  .app-header {
    .mat-toolbar {
      padding: 0 16px;
    }

    .spacer {
      padding-left: 0;
    }
  }
}

@media (max-width: 959px) {
  .app-header .mat-toolbar {
    padding: 0 24px;
  }
}

@media (max-width: 599px) {
  .app-header {
    .mat-toolbar {
      height: 52px;
      padding: 0 max(12px, env(safe-area-inset-right)) 0 max(12px, env(safe-area-inset-left));
    }

    img {
      display: none;
    }

    a {
      min-width: 48px;
      padding: 0 8px;
    }
  }
}