<mat-sidenav-container class="side-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <h3 matSubheader>Atendimentos</h3>
      <a mat-list-item (click)="updateTitle('Agenda')" routerLink="/appointment" routerLinkActive="active-link">
        <mat-icon matListItemIcon>calendar_month</mat-icon>
        <span>Agenda</span>
      </a>
      <a mat-list-item (click)="updateTitle('Histórico')" routerLink="/history" routerLinkActive="active-link">
        <mat-icon matListItemIcon>history</mat-icon>
        <span>Histórico</span>
      </a>

      <mat-divider></mat-divider>
      <h3 matSubheader>Cadastros</h3>
      <a mat-list-item (click)="updateTitle('Pacientes')" routerLink="/patient" routerLinkActive="active-link">
        <mat-icon matListItemIcon>person</mat-icon>
        <span>Pacientes</span>
      </a>
      <a mat-list-item (click)="updateTitle('Psicólogos')" routerLink="/psychologist" routerLinkActive="active-link">
        <mat-icon matListItemIcon>psychology</mat-icon>
        <span>Psicólogos</span>
      </a>
      <a mat-list-item (click)="updateTitle('Locais de atendimento')" routerLink="/service-location" routerLinkActive="active-link">
        <mat-icon matListItemIcon>place</mat-icon>
        <span>Locais de atendimento</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer">{{ pageTitle }}</span>

      <mat-form-field class="input-container" appearance="outline">
        <input matInput placeholder="Pesquisa" (input)="onSearch($any($event.target).value)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
